@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --yellow:#FFFF00;
}

*{
   font-family: 'Nunito', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-transform: capitalize;
   outline: none;
   border: none;
   text-decoration: none;
   transition: all .2s linear;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    background: orange;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem 9%;
}
header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:#fff;
    text-transform: uppercase;
}
header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin:0 .8rem;
}
header .navbar a:hover{
    color: var(--yellow);
}
header .icons i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color:var(--yellow);
}
header .search-bar-container{
    position: absolute;
    top: 100%; left: 0; right: 0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
}
header .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}
header .search-bar-container label:hover{
color: var(--yellow);
}
.body{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(https://thumbs.dreamstime.com/z/tropical-island-sand-beach-exotic-travel-background-landscape-35213632.jpg);
    background-position: center;
    background-size: cover;

}
.heading{
    width: 30%;
    text-align: center;
    color: #fff;
}
.heading h1{
    font-size: 40px;
}
.heading a{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    border-radius: 45px;
    padding: 14px 50px;
    background-color: #fff;
}
.heading a:hover{
    letter-spacing: 3px;
    transition: 0.6s;
}
.tours{
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.places{
    display: inline;
    text-align: center;
    border-radius: 12px;
}
.places h2{
    color: red;
    font-size: 35px;
    letter-spacing: 3px;
    border-radius: 1px;
    padding: 30px 30px;
    background-color: #000;
}
.footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
    font-weight: bold;
}
.login-form-container{
    position: fixed;
    top: 120%;
    left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 30rem;
}
.login-form-container form h3{
    font-size: 2rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}
.login-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .3rem solid rgba(0,0,0,.3);
    text-transform: none;
}
.login-form-container form .btn{
    display: block;
    width: 100%;
}
.login-form-container #form-close{
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color:#fff;
    cursor: pointer;
}